<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Pagina de presentación de la Secretaria General de la UNMSM">
		<title>Secretaria General | UNMSM</title>
	</head>
	<body class="w-screen h-screen m-0 overflow-x-hidden">
		<slot />
	</body>
</html>